/* GENERAL */
html {
    scroll-behavior: smooth;
}

    body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0d1117;
        color: #e6edf3;
    }

    h1 {
        margin-bottom: 5px;
        color: #f0f6fc;
    }

    h2 {
        margin-top: 35px;
        color: #f0f6fc;
    }

    p {
        color: #8b949e;
    }



/* NAVIGATION */
.top-nav {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    margin-left: calc(50% - 50vw);
    box-sizing: border-box;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 65px;
    padding-right: 65px;

    background-color: rgba(13, 17, 23, 0.85);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #21262d;

    z-index: 1000;
}

.nav-right {
    display: flex;
    gap: 25px;
}

.nav-icon {
    color: #e6edf3;
    text-decoration: none;
}

.nav-icon svg {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.nav-icon:hover {
    color: #58a6ff;
}

/* SECTIONS */
#home {
    min-height: 70vh;
    padding-top: 60px;
}

#about,
#projects,
#contact {
    min-height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
}

#contact {
    scroll-margin-top: 80px;
}

/* PROJECTS */
.project {
    background-color: #161b22;
    border: 1px solid #30363d;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 6px;
}

/* CONTACT */
.contact-links {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.contact-links a {
    flex: 1;
    padding: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #e6edf3;
    text-decoration: none;

    border: 1px solid #30363d;
    border-radius: 6px;
    background-color: #161b22;
}

.contact-links a:hover {
    border-color: #58a6ff;
}

.contact-links i {
    font-size: 26px;
}

.email-icon {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e6edf3;
    color: #161b22;

    border-radius: 50%;
}

.at-symbol {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    top: -1px;
}